.vs/Recriando o jogo da cobrinha com JavaScript/v16/.suo
.vs/Recriando o jogo da cobrinha com JavaScript/config/applicationhost.config
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
